* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 70%;
    margin: auto;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 500px;
    height: 700px;
    margin-top: 40px;    
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.box {
    font-size: 3em;
    text-align: center;
    line-height: 2em;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
}
.box-item-visor {
    grid-area: 1 / 1 / 2 / 5;
    background-color: rgb(196, 194, 173);  
}
.box-item-num {
    background-color: darkgray;
}
.box-item-func {
    background-color: rgb(133, 131, 131);
}
.box-item-igual {
    background-color: rgb(173, 200, 250);
}
.box-item-borra {
    background-color: rgb(250, 117, 56);
}